/* We wont use any responsive stuff for this example with @media. Just plain old css with percentage that works best on
desktops, but it does fine on mobile as well.*/
body, html {
    height: 95%;
}
body{
    /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, #17A9FF 0%, #FFFFFF 50%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #17A9FF 0%, #FFFFFF 50%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #17A9FF 0%, #FFFFFF 50%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #17A9FF), color-stop(0.5, #FFFFFF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #17A9FF 0%, #FFFFFF 50%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, #17A9FF 0%, #FFFFFF 50%);
    background-repeat: no-repeat; /* don't tile the image */
}

.content {
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    height: 100%;
}
.header {
    height: 20%;
    min-height: 50px;
    position: relative;
}
.mainContent {
    height: 75%;
}
.leftContent {
    width:49%;
    float: left;
    margin-bottom: 3%;
    height: auto;
    min-height: 100%;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 5px;
}
.rightContent {
    width: 49%;
    margin-left: 51%;
    margin-bottom: 3%;
    height: auto;
    min-height: 100%;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 5px;
}
.rightResultsContent {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    word-wrap:break-word;
}
.txtSearch {
    min-width: 100px;
    height: 30px;
    width: 75%;
    float: left;
    position:absolute;
    bottom:10px;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-size: large;
}
.btnSearch {
    margin-left: 80%;
    height: 30px;
    min-width: 70px;
    width: 20%;
    border: 3px solid lightgray;
    border-radius: 5px;
    position:absolute;
    background-color: darkgray;
    bottom:10px;
    font-size: x-large;
    color: white;
    text-align: center;
}
.leftResultsContent img {
    width: 100px;
    float: left;
    margin: 5px 5px 5px 5px;
}
.headerOfContent {
    margin: 10px 10px 10px 10px;
    font-size: xx-large;
    color: gray;
}
.paginator {
    width: 100%;
    align: center;
    height: auto;
    text-align: center;
}
.paginator a{
    color: darkblue;
}